footer {
	clear: both;
	background:rgba(54, 53, 51, 0.95);
	padding:50px 0 40px 0;
	color:white;

	.footer-body{
		display:flex;
	}

	.footer-left{
		width:50%;
		margin:0 20px;
	}

	.project-info{
		display:flex;
		align-items:center;
	}

	.footer-right{
		margin:0 20px;

		h3{
			margin-top:10px;
			margin-bottom:20px;
		}
	}

	.bottom-nav{
		display:flex;
		justify-content:space-between;
		margin:40px 25px 0 0;
		margin-left:10px;
	}
}