@media (max-width: 1024px) {
	.hero-team {
		width: calc(100% / 6);
		margin-bottom: 30px;

		img {
			height: 80px;
		}

		h3 {
			font-size: 2rem;
		}

		&:nth-child(n+12){
			margin-bottom: 30px;
		}

		&:nth-child(n+18){
			margin-bottom: 0;
		}
	}

	.site-name {
		h2 {
			font-size: 3rem;
			margin: 10px 0;
		}
	}

	.left {
		width: 67%;
	}

	td, th {
		padding: 10px;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.hero-team h3 {
		font-size: 1.75rem;
		padding: 0 10px;
	}

	.teams-nav {
		height: auto;

		.wrapper {
			flex-flow: column nowrap;
		}
	}

	.teams-nav-right {
		align-items: center;
	}

	.team-info-hero {
		height: 40vh;
		margin-bottom: 25px;
	}

	.main {
		flex-flow: column nowrap;
	}

	.left, .right {
		width: 100%;
	}

	.right {
		order: 1;
	}

	.latestPosts {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		h3 {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	.postFrontPage {
		width: 48%;
	}

	//single post

	.blog-content{
		flex-direction:column;
	}

	.posts{
		width: 100%;
		margin: 20px 0;
	}

	.sidebar{
		width:100%;	

		.xoxo{
			display:flex;
		}

		.latestPosts{
			flex-direction:column;
		}

		.content-featured-post{
			width:100%;
		}

		.widget-container{
			width:33.3%
		}

		.widget-container:nth-child(2){
			margin-right:10px;
			margin-left:10px;
		}
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	h1 {
		font-size: 4.5rem;
	}

	.hero-team {
		width: calc(100% / 5);
		margin-bottom: 20px;

		img {
			height: 70px;
		}

		h3 {
			font-size: 1.5rem;
		}

		&:nth-child(n+18){
			margin-bottom: 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.teams-nav-right {
		height: auto;
	}

	.nav-team-select {
		width: 100%;
		height: 45px;
		flex-flow: row wrap;
		justify-content: center;
	}

	.nav-team {
		width: calc(100% / 11 - 12px);
		margin-bottom: 5px;
		display:none;

		img {
			margin: 0 auto;
		}

		&:hover {
			height: 20px;
		}
	}

	.selectDiv:not(.titleSelectDiv){
		display:block;
	}

	.nav-main-nav {
		margin-top: 10px;
	}

	.team-info-hero {
		height: auto;
		padding: 25px;
	}

	.team-info {
		height: auto;
		flex-flow: column nowrap;
		align-items: center;
	}

	.team-name {
		margin-bottom: 15px;
	}

	.team-emblem {
		height: 80px;
		text-align: center;
	}

	.team-total-salary, .team-cap-hit, .team-cap-space, .team-dps {
		text-align: center;
		margin-bottom: 25px;
	}

	.team-dps {
		width: 100%;
		margin-bottom: 0;
	}

	.dp-icon {
		margin-top: 10px;
		margin-left: 0;
		display: block;
		text-align: center;
	}

	td, th {
		font-size: 1.25rem;
	}

	.main-footer {
		padding: 25px;
	}

	.footer-body {
		flex-flow: column nowrap;
	}

	.footer-right, .footer-left {
		width: 100%;
	}

	.footer-tweet-title {
		h3 {
			display: none;
		}

		h4{
			text-align:left;
		}
	}

	.footer-twitter {
		display: none;
	}

	.footer-nav {
		display: none;
	}

	.copyrights{
		text-align:center;
	}

	//blog

	.blog-content{

		section.entry-content{
			flex-direction:column;

			.featured-img{
				width:100%;
			}

			aside.post-preview{
				width:100%;
			}
		}

		.featured-img{
			width:100%;
			// height:150px;
		}

		section.entry-content aside.post-preview{
			padding:20px;
			margin:0;
		}


	}

	.sidebar .xoxo{
		flex-direction:column;
	}

	.sidebar .widget-container{
		width:100%;
	}

	.sidebar .widget-container:nth-child(2){
		margin-left:0;
		margin-right:0;
	}
}

@media (max-width: 550px) {
	.team-name{
		flex-direction:column;
		text-align:center;
	}

	#hero-team-select{
		display:none;
	}

	.titleSelectDiv{
		display:block;
	}
}

@media (max-width: 460px) {
	.main-team-stats{
		justify-content:center;
	}

	.frontSideBar{
		display:none;
	}

	#playersTable{
		display:none;
	}

	.left .detailElements{
		display:block;
	}
}

@media (max-width: 380px) {
	.blog-content .featured-img{
		height:150px;
	}
}