html {
	font-size: 62.5%;
	line-height: 1.2;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}

h1 {
	font-size: 5.5rem;
	font-weight: 600;
}

h2 {
	font-size: 4rem;
	// margin-bottom: 10px;
}

h3 {
	font-size: 2.5rem;
	// margin-bottom: 10px;
}

h4 {
	font-size: 2rem;
}

h5,h6 {
	font-size: 1.2rem;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	line-height: 1.4;
}

td, th {
	font-family: 'Open Sans', sans-serif;
}

p{
	font-size:1.2rem;
}

a {
	color: #666;
	text-decoration: none;
	transition: all .2s;

	&:hover {
		color: $yellow;
	}
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}